#shapes {
    display: flex;
    flex-direction: column;
  
    .shape {
      background-color: purple;
      width: 50px;
      height: 50px;
      margin-bottom: 20px;
      border-radius: 50%;
  
      &:nth-child(2) {
        background-color: green;
      }
      &:nth-child(3) {
        background-color: orange;
      }
    }
  }
  